# DataFrames

In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

### 
## 建立 DataFrames
### `pd.DataFrame( data, index, columns )`

In [3]:
df = pd.DataFrame(randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

In [4]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510
E  0.390222  0.004997 -0.079824  0.325536

### 
## 篩選 (selection) 和 索引 (index)

In [39]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510

In [5]:
df['W']

A    0.059715
B    0.709740
C    0.321588
D    0.261248
E    0.390222
Name: W, dtype: float64

**篩選1欄以上需要放入一個list裡：df [ `[ col,col ]` ]**

In [7]:
# 直接選擇2個 col 會錯誤

df['W','Z']

KeyError: ('W', 'Z')

In [6]:
df[['W','Z']]

          W         Z
A  0.059715 -1.664315
B  0.709740  0.506829
C  0.321588 -0.323276
D  0.261248  0.597510
E  0.390222  0.325536

**DataFrames的Columns是一個Series**

In [8]:
type(df['W'])

pandas.core.series.Series

### 建立新的欄位
### `df['column name'] = data`

In [9]:
df['new'] = df['W'] + df['Y']

In [10]:
df

          W         X         Y         Z       new
A  0.059715  1.675034  0.624972 -1.664315  0.684688
B  0.709740  0.381721  0.226369  0.506829  0.936109
C  0.321588 -0.096557  0.001825 -0.323276  0.323414
D  0.261248  0.075482 -1.227217  0.597510 -0.965969
E  0.390222  0.004997 -0.079824  0.325536  0.310398

### 刪除欄位
### `df.drop('column name', axis=1, inplace=True)`

In [11]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510
E  0.390222  0.004997 -0.079824  0.325536

In [12]:
# 如果沒有inplace=True，不會真的刪除

df

          W         X         Y         Z       new
A  0.059715  1.675034  0.624972 -1.664315  0.684688
B  0.709740  0.381721  0.226369  0.506829  0.936109
C  0.321588 -0.096557  0.001825 -0.323276  0.323414
D  0.261248  0.075482 -1.227217  0.597510 -0.965969
E  0.390222  0.004997 -0.079824  0.325536  0.310398

In [13]:
df.drop('new',axis=1,inplace=True)

In [14]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510
E  0.390222  0.004997 -0.079824  0.325536

### 刪除一行資料
### `df.drop('column name', axis=0, inplace=True)`

In [17]:
df.drop('E',axis=0, inplace=True)

In [18]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510

### 篩選行
### `df.loc[ 'row index' ]` : 根據行的 index 篩選

In [20]:
df.loc['A']

W    0.059715
X    1.675034
Y    0.624972
Z   -1.664315
Name: A, dtype: float64

### `df.iloc[ position ]` : 根據行的位置篩選

In [21]:
df.iloc[2]

W    0.321588
X   -0.096557
Y    0.001825
Z   -0.323276
Name: C, dtype: float64

### 篩選特定格
### `df.loc[ 'row index', 'column name' ]`

In [22]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510

In [23]:
df.loc['B','Y']

0.22636920276436623

In [24]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.059715  0.624972
B  0.709740  0.226369

### 有條件的篩選

In [25]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510

In [26]:
df > 0

      W      X      Y      Z
A  True   True   True  False
B  True   True   True   True
C  True  False   True  False
D  True   True  False   True

In [27]:
df[df>0]

          W         X         Y         Z
A  0.059715  1.675034  0.624972       NaN
B  0.709740  0.381721  0.226369  0.506829
C  0.321588       NaN  0.001825       NaN
D  0.261248  0.075482       NaN  0.597510

In [29]:
# 條件為 df['X']要大於0，C行的X小於0，於是C行被篩選掉了

df[df['X']>0]

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
D  0.261248  0.075482 -1.227217  0.597510

In [30]:
df[df['X']>0]['Y']

A    0.624972
B    0.226369
D   -1.227217
Name: Y, dtype: float64

In [31]:
df[df['X']>0][['Y','X']]

          Y         X
A  0.624972  1.675034
B  0.226369  0.381721
D -1.227217  0.075482

### 如果需要2個以上條件，可以利用 `| ` 和 `＆`:

In [38]:
df[(df['X']>1) & (df['Y'] < 1)]

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315

### `.reset_index( )` : 可以讓 index 重置成原本樣子

In [40]:
df

          W         X         Y         Z
A  0.059715  1.675034  0.624972 -1.664315
B  0.709740  0.381721  0.226369  0.506829
C  0.321588 -0.096557  0.001825 -0.323276
D  0.261248  0.075482 -1.227217  0.597510

In [41]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.059715  1.675034  0.624972 -1.664315
1     B  0.709740  0.381721  0.226369  0.506829
2     C  0.321588 -0.096557  0.001825 -0.323276
3     D  0.261248  0.075482 -1.227217  0.597510

### `.set_index( )` : 設置 index

In [44]:
newind = 'CA NY WY OR'.split()

In [45]:
df['States'] = newind

In [46]:
df

          W         X         Y         Z States
A  0.059715  1.675034  0.624972 -1.664315     CA
B  0.709740  0.381721  0.226369  0.506829     NY
C  0.321588 -0.096557  0.001825 -0.323276     WY
D  0.261248  0.075482 -1.227217  0.597510     OR

In [47]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.059715  1.675034  0.624972 -1.664315
NY      0.709740  0.381721  0.226369  0.506829
WY      0.321588 -0.096557  0.001825 -0.323276
OR      0.261248  0.075482 -1.227217  0.597510

In [48]:
df

          W         X         Y         Z States
A  0.059715  1.675034  0.624972 -1.664315     CA
B  0.709740  0.381721  0.226369  0.506829     NY
C  0.321588 -0.096557  0.001825 -0.323276     WY
D  0.261248  0.075482 -1.227217  0.597510     OR

**要加上 `inplace=True`，才會真正變更**

In [49]:
df.set_index('States',inplace=True)
df

               W         X         Y         Z
States
CA      0.059715  1.675034  0.624972 -1.664315
NY      0.709740  0.381721  0.226369  0.506829
WY      0.321588 -0.096557  0.001825 -0.323276
OR      0.261248  0.075482 -1.227217  0.597510

### 
# 多索引 和 索引層次結構 Multi-Index and Index Hierarchy

In [50]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [51]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

### `index = pd.MultiIndex.from_tuples( )` : 建立多索引

In [55]:
# 將index變成tuple

hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [54]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  0.725897 -2.227720
   2 -1.156681  0.907136
   3  0.997668 -0.833168
G2 1  0.910921  2.609664
   2  1.424470  0.355814
   3  0.907519 -0.137671

In [56]:
df.loc['G1']

          A         B
1  0.725897 -2.227720
2 -1.156681  0.907136
3  0.997668 -0.833168

In [57]:
df.loc['G1'].loc[1]

A    0.725897
B   -2.227720
Name: 1, dtype: float64

### `df.index.names = [ 'index name', 'index name' ]` : 建立索引名稱

In [58]:
df.index.names

FrozenList([None, None])

In [59]:
df.index.names = ['Group','Num']

In [60]:
df

                  A         B
Group Num
G1    1    0.725897 -2.227720
      2   -1.156681  0.907136
      3    0.997668 -0.833168
G2    1    0.910921  2.609664
      2    1.424470  0.355814
      3    0.907519 -0.137671

### `df.xs( )` : 回傳 df 的橫截面

**ex1. 取 Group = 'G1' 的值**

In [64]:
df

                  A         B
Group Num
G1    1    0.725897 -2.227720
      2   -1.156681  0.907136
      3    0.997668 -0.833168
G2    1    0.910921  2.609664
      2    1.424470  0.355814
      3    0.907519 -0.137671

In [61]:
df.xs('G1')

            A         B
Num
1    0.725897 -2.227720
2   -1.156681  0.907136
3    0.997668 -0.833168

**ex2. 取 Group = 'G1' 且 Num = 1 的值**

In [65]:
df

                  A         B
Group Num
G1    1    0.725897 -2.227720
      2   -1.156681  0.907136
      3    0.997668 -0.833168
G2    1    0.910921  2.609664
      2    1.424470  0.355814
      3    0.907519 -0.137671

In [62]:
df.xs(['G1',1])

A    0.725897
B   -2.227720
Name: (G1, 1), dtype: float64

**ex3. 取 column = 'Num' 且 值 = 1 欄位**

In [63]:
df.xs(1,level='Num')

              A         B
Group
G1     0.725897 -2.227720
G2     0.910921  2.609664